*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,Ubuntu,Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body
{
        margin: 0 auto;
        width: 1200px;
}

.grid-container
{
    grid-template-columns: auto auto auto auto;
    display: grid;
    padding: 20px;
    margin: 150px;
}

.grid-container .grid-g1 ul
{
    list-style-type: none;
    padding: 6px 0;
    font-size: 15px;
}

.grid-container .grid-g2
{
    font-size: 25px;
}

.grid-container .grid-g1 .g5
{
    color: gray;
}

.grid-container .grid-g1 ul a
{
    color: black;
    text-decoration: none;
}


:root {
    --colorOne: #d5ecf4;
    --colorTwo: #e5efd9;
    --colorThree: #fcf8c0;
    --colorFour: #ebebeb;
    --colorFive: #f4c5c3;
    --colorSix: #e5efd8;
    --colorSeven: #fcf8c0;
}

.grid-container2
{
    margin: 110px;
    width: 500;
    height: 2000px;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
    display: grid;
    height: 1600px;
    padding: 20px;
}

.grid-container2 div
{
    
}

.grid-r1
{
    background-color: var(--colorOne);
    grid-column: 1 / 1span;
    grid-row: 1 / 2 span;
}

.grid-r2
{
    background-image: url(https://i.pinimg.com/564x/a9/29/68/a9296861b27d0f483dfcca54b79a76b5.jpg);
    background-size: 100% 100%;
    grid-column: 2 / 2 span;
    grid-row: 1 / 2 span;
}

.grid-r3
{
    background-color: var(--colorTwo);
    grid-column: 1 / 1 span;
    grid-row: 3 / 1 span;
}

.grid-r4
{
    background-image: url(https://i.pinimg.com/564x/5d/d7/4e/5dd74eb1a270a2cff2d8e920aad90ee3.jpg);
    background-size: 100% 100%;
    grid-column: 2 / 1 span;
    grid-row: 3 / 2 span;
}

.grid-r5
{
    
    background-color: var(--colorThree);
    grid-column: 3 / 1 span;
    grid-row: 3 / 1 span;
}

.grid-r6
{
    
    background-color: var(--colorFour);
    grid-column: 1 / 1 span;
    grid-row: 4 / 1 span;
}

.grid-r7
{
    background-image: url(https://i.pinimg.com/564x/91/45/97/9145975e4a07ca65a80e61059a618931.jpg);
    background-size: 100% 100%;
    grid-column: 3 / 1 span;
    grid-row: 4 / 1 span;
}

.grid-r8
{
    background-color: var(--colorFive);
    grid-column: 1 / 2 span;
    grid-row: 5 / 2 span;
}

.grid-r9
{
    background-image: url("https://i.pinimg.com/236x/78/ee/a9/78eea9ba650b73f0fe0d9652f6d025bb.jpg");
    background-size: 100% 100%;
    grid-column: 3 / 1 span;
    grid-row: 5 / 2 span;
}

.grid-r10
{
    background-image: url("https://i.pinimg.com/236x/78/ee/a9/78eea9ba650b73f0fe0d9652f6d025bb.jpg");
    background-size: 100% 100%;
    grid-column: 1 / 2 span;
    grid-row: 7 / 2 span;
}

.grid-r11
{
    background-image: url("https://i.pinimg.com/564x/44/5c/ab/445cabc3f44b363c7fc5e9375625e28d.jpg");
    background-size: 100% 100%;
    grid-column: 3 / 1 span;
    grid-row: 7 / 1 span;
}

.grid-r12
{
    background-color: var(--colorSix);
    grid-column: 1 / 2 span;
    grid-row: 9 / 2 span;
}

.grid-r13
{
    background-image: url("https://i.pinimg.com/564x/65/37/28/6537287a63553bdee3589e53345abff6.jpg");
        background-size: 100% 100%;
    grid-column: 3 / 1 span;
    grid-row: 9 / 1 span;
}

.grid-r14
{
    background-color: var(--colorSeven);
    grid-column: 3 / 1 span;
    grid-row: 10 / 1 span;
}

.grid-r15
{
    background-image: url("https://i.pinimg.com/236x/fd/aa/89/fdaa89ef1c215e84982a08d532e9a431.jpg");
        background-size: 100% 100%;
    grid-column: 3 / 1 span;
    grid-row: 8 / 1 span;
}