.container
{
    background-color: rgb(158, 155, 155);
}

.grid-con1
{
    grid-template-columns: auto auto;
    grid-gap: 50px;
    display: grid;
}

.grid-a
{
    grid-template-columns: auto auto;
    display: grid;
    height: 250px;
    border: 1px solid rgb(196, 193, 193);
    background-color: white;
}   

.grid-a1
{
    border: 1px solid hotpink;
}


.grid-a2
{
    text-align: center;
}