

.grid-container
{
    border:10px solid rgb(136, 136, 253);
    display: grid;
    grid-template-columns: 1fr 6fr 1fr; /*숫자부분에 배율지정*/
    /*grid-gap: 30px 150px;*/
    /*padding :10px;*/
    /* justify-content: space-evenly; */
                                    /*space-around는 양쪽끝에 여백을 넣는것 */
                                    
                                    /*justify-content는 내부에서 뭔가 행하고싶을때*/
                                    /*space-evenly 여백의 크기를 똑같이줄때*/
}

.grid-item
{
    background-color: rgb(196, 196, 250);
    border:1px solid black;
    padding:20px;
    font-size: 30px;
    text-align: center;    
}

.grid-item:nth-child(2n)        
{
    background-color: yellow;
}

/* .grid-item:last-child
{
    grid-column-start: 1;
    grid-column-end:4 span;
} */

.sub-grid
{
    display: grid;
    grid-template-columns: auto auto;
    font-size:10px;
    justify-content: space-between   space-between이란2개의아이템을 양쪽끝에 배치하는것
                                    /*계속아이템이 늘어나더라도 양쪽끝은 항상 바깥으로 배정된다.*/

}

/* .sub-grid div:nth-child(1)
{
    text-align: left;
}

.sub-grid div:nth-child(2)
{
    text-align: right;
} */

.header
{
    grid-column:1 / 3 span;
}

.footer
{
    grid-column : 1/ 3 span;
}